# Python
__pycache__/
*.py[cod]
*.log
.mypy_cache/
.pytest_cache/
.cache/

# Virtual env / IDE
.venv/
.env
.vscode/
.idea/

# App-generated
outputs/
exports/

# Streamlit
.streamlit/secrets.tomlgcp-sa.json
