# Python
__pycache__/
*.py[cod]
*.log
.mypy_cache/
.pytest_cache/
.cache/

# Virtual env / IDE
.venv/
.env
.vscode/
.idea/

# App-generated
outputs/
exports/

# Streamlit / Secrets
.streamlit/secrets.toml
gcp-sa.json

# Tests / Coverage (optional)
.coverage
htmlcov/

# OS junk (optional)
.DS_Store
Thumbs.db
